
.topnav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $verticalspace1;

  .languageSwitcher {
    visibility: hidden;
    font-size: 0.9rem;
    text-align: right;
    background-color: $light-gray;
    padding: 7px 12px 7px 12px;

    .active {
      font-weight: bold;
      color: $dark-gray;
    }

    a {
      color: $dark-gray;
    }
  }
}

.nav {
  margin-bottom: $verticalspace2;

  .logo {
    height: 30px;
    background:url(../img/logo_tfc.svg) 0 0 no-repeat;
  }

  .navigation {
    text-align: right;

    .menu li a {
      font-size: 1.2rem;
      color: $dark-gray;
    }

    .menu li:last-child a {
      padding-right: 0;
    }
  }
}
