
.intro {
  background-color: $light-gray;
  padding-top: $verticalspace1;
  padding-bottom: $verticalspace1;
  margin-bottom: $verticalspace2;
  min-height: 340px;

  h1 {
    font-size: 2rem;
  }

  p {
    padding-top: 10px;
    line-height: 2rem;
  }
}

.dark {
  background-color: $dark-gray;
  color: white;

  h1 {
    color: white;
  }
}

.green {
  background-color: $pastel-green;
}

.blue {
  background-color: $pastel-blue;
}

.yellow {
  background-color: $pastel-yellow;
}

.lila {
  background-color: $pastel-lila;
}
