
.mobile-nav {
  display: none;
}

.navigation {
  display: block;
  float: right;

  .current-menu-item > a {
    font-weight: bold;
  }

  ul.sub-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 1rem 0.5rem 0;
    position: absolute;
    text-align: left;
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.8);

    a {
      font-size: 1rem !important;
    }

    a:hover {
      font-weight: bold;
    }

  }

  ul li a:hover + .sub-menu, ul.sub-menu:hover {
    display: block;
  }

}

.mobile-icon {
  font-size: 2rem;
}


@media (max-width: 900px) {

  .topnav {
    margin-bottom: 20px !important;
  }

  .logo {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .navigation {
    display: none;
  }

  .mobile-nav {
    min-height: 50px;
    transition: min-height 2s ease-out;
    overflow: hidden;
  }

  .mobile-nav:hover {
    min-height: 400px;
  }

  .mobile-nav:hover > ul, .mobile-nav:hover > ul li ul {
    display: block;
  }

  .mobile-nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;

    ul {
      list-style: none;
      margin: 0;

      li {
        line-height: 3.5rem;

        a {
          font-size: 1.3rem;
        }

        ul {
          li {
            line-height: 2rem;
            a {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
