
/* Typography & Grid */
$verticalspace1: 60px;
$verticalspace2: 45px;
$verticalspace3: 25px;

/* Color */
$pastel-green: #D3E29E;
$pastel-blue: #A8D9F6;
$pastel-yellow: #FFEA9C;
$pastel-lila: #C6B7D6;
