
.intro {
  background-color: $light-gray;
  padding-top: $verticalspace1;
  padding-bottom: $verticalspace1;
  margin-bottom: $verticalspace2;

  h1 {
    font-size: 2rem;
  }

  p {
    padding-top: 10px;
    line-height: 2rem;
  }

}
